body{
    background:rgba(0, 0, 0, 0.7) url(chau_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}

.header1{
    font-size: 50px;
    text-align: center;
    padding-top: 60px;
    color: white;
    margin-bottom: -50px;
}
.header2{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Protest Revolution', sans-serif;
}

.tagline{
    text-align: center;
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
}

.button{
    text-align: center;
    button{
        background-color: white;
        border: none;
        height: 40px;
        width: 150px;
        border-radius: 20px;
        margin-top: 40px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.15s;
    }
    button:hover{
        opacity: 0.7;
    }
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    column-gap: 20px;
    .insta, .fb, .x{
        a, a:hover, a:visited, a:active {
            color: inherit;
            text-decoration: none;
           }
    }
}